<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-2 p-4">
      <button class="btn btn-link w-100" [routerLink]="['/storage-utils']"><h6>Storage Utils</h6></button>
      <button class="btn btn-link w-100" [routerLink]="['/seo-utils']"><h6>Seo Utils</h6></button>
      <button class="btn btn-link w-100" [routerLink]="['/scroller']"><h6>Scroller</h6></button>
      <h6>Articles :</h6>
      <button class="btn btn-link w-100" [routerLink]="['/', 'article-detail', 'fcip14pg']"><h6>FCIP14PG</h6></button>
      <button class="btn btn-link w-100" [routerLink]="['/', 'article-detail', 'tss916n']"><h6>TSS916N</h6></button>
      <button class="btn btn-link w-100" [routerLink]="['/', 'article-detail', 'al1054x']"><h6>AL1054X</h6></button>
      <button class="btn btn-link w-100" [routerLink]="['/', 'article-detail', 'cm45wl']"><h6>CM45WL</h6></button>
    </div>
    <div class="col-10 p-4">
      <router-outlet />
    </div>
  </div>
</div>
