<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-2 p-4">
      <button class="btn btn-link w-100" [routerLink]="['/storage-utils']"><h6>Storage Utils</h6></button>
      <button class="btn btn-link w-100" [routerLink]="['/seo-utils']"><h6>Seo Utils</h6></button>
      <button class="btn btn-link w-100" [routerLink]="['/scroller']"><h6>Scroller</h6></button>
      <h6>Articles :</h6>
      <button class="btn btn-link w-100" [routerLink]="['/', 'article-detail', 'pe30194']"><h6>PE30194</h6></button>
      <button class="btn btn-link w-100" [routerLink]="['/', 'article-detail', 'md20001']"><h6>MD20001</h6></button>
      <button class="btn btn-link w-100" [routerLink]="['/', 'article-detail', 'aets20004']"><h6>AETS20004</h6></button>
      <button class="btn btn-link w-100" [routerLink]="['/', 'article-detail', 'mm30019']"><h6>MM30019</h6></button>
    </div>
    <div class="col-10 p-4">
      <router-outlet />
    </div>
  </div>
</div>
